:root {
    --BACKGROUND_COLOR: #FFF;
    --BORDER_COLOR: #EEE;
    --COLOR: #000;
    --LIGHT_COLOR: #666;
}

@media (prefers-color-scheme: dark) {
    :root {
        --BACKGROUND_COLOR: #222;
        --BORDER_COLOR: #444;
        --COLOR: #DDD;
        --LIGHT_COLOR: #999;
    }
}