@import url('./antd.css');
@import url('./color.css');
@import url('./highlight.css');

html {
    font-size: 16px;
    min-width: 350px;

    font-family: sans-serif;
}

body {
    font-size: 1rem;
}